{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

<div class="form-container">
    <div class="container col-md-6 text-center">
        <h2>Login to Walsh</h2>
        <!--update the action and the method with relevant information-->
        <form action="/login", method="post">
          <!-- keeps the label and text in a group vertically stacked--> 

          <div class="form-group">
            <label for="email">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
        
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
          </div>

          <button type="submit" class="btn btn-primary">Login</button>
       
        </form>
      </div>
</div>

{% endblock %}